hesaff
build
.DS_Store
*.pyc
*.egg-info
dist
*.dylib
*.dll
*.so
*.a


# utool output
_test_times.txt
failed.txt

# Cyth
*_cyth.pyx
*_cyth.pxd
*_cyth.pyd
*_cyth.so
*_cyth.c
*_cyth.html
*_cyth_bench.py
run_cyth_benchmarks.sh


*.orig
_doc
test_times.txt
