build
.DS_Store
*.pyc
*.pyo
*.egg-info
dist
*.dylib
*.dll
*.so
*.a


# utool output
_test_times.txt
failed.txt

*.orig
_doc
test_times.txt

failed_doctests.txt

timeings.txt
cmake_builds
_skbuild
deps
.coverage
coverage.xml

wheelhouse
