include .github/dependabot.yml
include .github/workflows/test_binaries.yml
include .gitignore
include .readthedocs.yml
include .travis.yml
include CHANGELOG.md
include CMake/skbuild-helpers.cmake
include CMakeLists.txt
include LICENSE/COPYING
include LICENSE/LICENSE.SIFT
include LICENSE/LICENSE.txt
include LICENSE/multibuild_LICENSE.txt
include README.rst
include appveyor.yml
include build_wheels.sh
include clean.sh
include dev/build_opencv.sh
include dev/build_opencv_docker.py
include dev/ci_prepare_linux_for_build.sh
include dev/ci_prepare_macos_for_build.sh
include dev/ci_public_gpg_key.pgp.enc
include dev/ci_secret_gpg_subkeys.pgp.enc
include dev/gpg_owner_trust.enc
include dev/make_strict_req.sh
include dev/public_gpg_key
include dev/secrets_configuration.sh
include dev/setup_secrets.sh
include dev/windows_build_opencv.sh
include dev/windows_setup.sh
include docs/source/conf.py
include docs/source/index.rst
include publish.sh
include pyhesaff/__init__.py
include pyhesaff/__main__.py
include pyhesaff/_pyhesaff.py
include pyhesaff/ctypes_interface.py
include pyproject.toml
include pytest.ini
include requirements.txt
include requirements/build.txt
include requirements/docs.txt
include requirements/graphics.txt
include requirements/headless.txt
include requirements/optional.txt
include requirements/runtime.txt
include requirements/tests.txt
include run_developer_setup.sh
include run_doctests.sh
include run_tests.py
include setup.py
include src/_grave.c
include src/affine.cpp
include src/affine.h
include src/helpers.cpp
include src/helpers.h
include src/hesaff.cpp
include src/hesaff.h
include src/orientation.cpp
include src/orientation.h
include src/pyramid.cpp
include src/pyramid.h
include src/siftdesc.cpp
include src/siftdesc.h
include tests/pyhestest.py
include tests/test_adaptive_scale.py
include tests/test_cpp_rotation_invariance.py
include tests/test_draw_keypoint.py
include tests/test_ellipse.py
include tests/test_exhaustive_ori_extract.py
include tests/test_import.py
include tests/test_patch_orientation.py
include tests/test_pyhesaff.py
include tests/test_pyhesaff_simple_iterative.py
include tests/test_pyhesaff_simple_parallel.py
exclude MANIFEST.in